.heading{
    color:aqua;
    text-decoration:line-through
}
h2{
    color: rgb(236, 229, 242);
}
body{
    background-color: rgb(238, 226, 226);
}
button{
    background-color: rgb(26, 26, 24);
    color: azure;
}
p{
    color: beige;
}
#box{
    height: 100x;
    background-color: rgb(214, 112, 112);

}
.content{
    color:red;
}
.newclass{
    background-color: green;
}


